body {
  background-color: #e2e2e2;

  .customCard {
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
  }

  .greycard {
    background-color: #f4f3ee; 
  } 

  .redcard {
    border: 2px solid white;
    background-color:  #c32c72;  
  }

  .whitecard {
    border: 2px solid #c32c72;
    background-color: white;
  }
}
